<div class="white-container">
<br>
<h1 class=" center">Edit Classes for <%= @group.group_day.capitalize %> </h1>

<%= render 'editform' %>
<br>
<%= link_to 'Back', groups_path, class: "body-left" %>
</div>