<div class="jumbotron center">
	<h1> Stop Forgetting Your Homework </h1>
	<%= Rails.env.inspect %>
	<br>
	<p> When you forget your homework, you fail. And now your parents are disappointed. You're a failure, and you're crying in the bathroom. All your friends just abandoned you. Now, you're left with only your cat, and even she hates you.</p>
</div>

<div class="center">
<%= link_to image_tag("homebutton.png", size: "340x60"), "https://www.messenger.com/t/ChistopherTheBot" %>
<p> (Say "hi" to Chistopher Bot and he'll send you a sign up link.) </p>
</div>

<br>

<h1 class="center"> Christopher Bot Works In Facebook Messenger </h1>

<br>
<div class="mac-convo">
<%= image_tag("all-devices.png", size: "960x500", class: "center-media mac-screenshot") %>
</div>
