<div class="jumbotron center">
	<h1> Stop Forgetting Your Homework. </h1>
	<br>
	<p> Christopher will always remind you of the work you need to get done, without you needing to check some app. How? Christopher communicates with you using Facebook Messenger. Just talk to Christopher, and he'll talk back. </p>
</div>

<div class="center">
<%= link_to image_tag("homebutton.png", size: "340x60"), "https://www.messenger.com/t/1135063803224611" %>
</div>

<br><br>

<h1 class="center sub-heading"> Works On Any Device </h1>

<br>
<div class="mac-convo">
<%= image_tag("all-devices.png", size: "960x500", class: "center-media mac-screenshot") %>
</div>