<div class="jumbotron center">
	<h1> Stop Forgetting Your Homework. </h1>
	<br>
	<p> When you forget your homework, you fail. And now your parents are disappointed. Uh, oh you're a failure, and you're left crying in the washroom. All your friends just abandoned you. and you're left with only the cat, and the cat even hates you and now you're sad.</p>
</div>

<div class="center">
<%= link_to image_tag("homebutton.png", size: "340x60"), "https://www.messenger.com/t/1135063803224611" %>
</div>

<br><br>

<h1 class="center sub-heading"> Works On Any Device </h1>

<br>
<div class="mac-convo">
<%= image_tag("all-devices.png", size: "960x500", class: "center-media mac-screenshot") %>
</div>