<div class="jumbotron center">
	<h1> Stop Forgetting Your Work. </h1>
	<br>
	<p> Christopher will always remind you of the work you need to get done, without you needing to check some app. How? Christopher communicates with you using Facebook Messenger. Just talk to Christopher, and he'll talk back. </p>
</div>

<div class="mac-convo">
<%= image_tag("all-devices.png", size: "960x500", class: "center-media mac-screenshot") %>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>