<div class="panel panel-default">
	<div class="panel-body"
		<%= form_for @current_user do |f|%>
			<%= f.text_field :class_number, class: "form-control" %>
			<%= f.submit :submit, class: "btn btn-primary" %>
		<% end %>

		<!-- need to figure out how to edit the following line properly -->
		<%= current_user.inspect %>
</div>
