<div class="panel panel-default">
	<div class="panel-body">
		 <%= form_for(@user, :url => {:action => "index"}) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		    <% f.label :class_number %>How many <b>classes</b> do you have in a day (don't count breaks)?<br />
		    <%= f.text_field :class_number, class: "form-control" %>
		  </div>
	</div>
	<%= f.button :submit, class: "btn btn-primary" %>
	<% end %>
</div>
