<div class="panel panel-default">
	<div class="panel-body">
		
    <%= @set_user_class_number.inspect %>

		<!-- need to figure out how to edit the following line properly -->
		<%= current_user.inspect %>
</div>
