<div class="white-container">
<br>
<div class="body-left">
	<h1 class="center"> Commands </h1>

	<p class="command-p"> <b><i>help</i></b> : to get a list of commands </p>
	<br>
	<p class="command-p"> <b><i>pause</i></b> : to pause all messages from christopher bot </p>
	<br>
	<p class="command-p"> <b><i>unpause</i></b> : to resume getting messages from christopher bot </p>
	<br>
	<p class="command-p"> <b><i>list</i></b> : to get a list of today's homework </p>
	<br>
	<p class="command-p"> <b><i>i have homework for [subject]</i></b> : if you forget to respond to christopher bot in time </p>
	<br>
	<p class="command-p"> <b><i>i <u>don't</u> have homework for [subject]</i></b> : if you finish your homework or make a mistake </p>
	<br>
	<p class="command-p"> <b><i>share</i></b> : to share christopher bot on facebook </p>
	</div>
</div>