<div class="white-container">
<br>
<div class="body-left">
	<h1 class="center"> Commands </h1>

	<p class="command-p"> <span class="command-text">"<b>help</b>"</span> - to get a list of commands </p>
	<br>
	<p class="command-p"> <span class="command-text">"<b>pause</b>"</span> - to pause all messages from christopher bot </p>
	<br>
	<p class="command-p"> <span class="command-text">"<b>unpause</b>"</span> - to resume getting messages from christopher bot </p>
	<br>
	<p class="command-p"> <span class="command-text">"<b>list</b>"</span> - to get a list of today's homework </p>
	<br>
	<p class="command-p"> <span class="command-text">"<b>i have homework for [subject]</b>"</span> - if you forget to respond to christopher bot in time </p>
	<br>
	<p class="command-p"> <span class="command-text">"<b>i <u>don't</u> have homework for [subject]</b>"</span> - if you finish your homework or make a mistake </p>
	</div>
</div>