<h1 class="center"> Commands </h1>

<h3 class="center"> <span class="command-text">"<b>help</b>"</span> - <i>to get this list of commands</i> </h3>

<h3 class="center"> <span class="command-text">"<b>pause</b>"</span> - <i>pauses messages from christopher bot</i> </h3>

<h3 class="center"> <span class="command-text">"<b>unpause</b>"</span> - <i>unpauses messages from christopher bot</i> </h3>

<h3 class="center"> <span class="command-text">"<b>list</b>"</span> - <i>receive a list of your homework</i> </h3>

<h3 class="center"> <span class="command-text">"<b>i have homework for [subject]</b>"</span> - <i>if you forget to text christopher bot</i> </h3>