<% if params["conversation_id"].nil? %>
	<% redirect_home() %>
<% else %>
	<% @user = User.find_by(conversation_id: params["conversation_id"]) %>
	<% if @user.nil? || @user.paused == false || @user.paused == nil %>
		<% redirect_home %>
	<% else %>
	<script type="text/javascript">
  $(document).ready(function(){
        $('.datepicker').datepicker({
        	autoclose: true,
        	daysOfWeekDisabled: "0,6",
        	todayHighlight: true,
        	format: "dd/mm/yyyy"
        });
      });
</script>
	<% $pausedTime = true %>
<div class="white-container">
	<div class="body-left">
		<%= form_for(@user, url: date_picker_path, method: 'get', validate: true) do |f| %>
			<br>
			<div class="datepicker">
				<input type="hidden" name="paused_time">
			</div>
			<%= f.hidden_field :conversation_id, name: "conversation_id", value: @user.conversation_id %>
 			<div class="form-group">
    		<%= f.submit "Update", class: "btn btn-primary" %>
  		</div>
	</div>
</div>
<% end %>
<% end %>
<% end %>