<div class="white-container">
	<h1 class="center jumbotron"> Before You Set Up Your Classes, You Need To Talk To Christopher Bot </h1>
	<div class="center">
		<%= link_to image_tag("homebutton.png", size: "340x60"), "https://www.messenger.com/t/1135063803224611" %>
		<p> (Say "hi" to Chistopher Bot and he'll send you a sign up link.) </p>
	</div>
</div>