<div class="panel panel-defualt">
  <div class="panel-heading">
    <h1 class="center">Log In With Facebook</h1>
  </div>

  <%= link_to image_tag("signin.png"), user_omniauth_authorize_path(:facebook), class: "center-media center" %>

  <h1> So Your Cat Will Always Love You </h1>
  
</div>