<div class="panel panel-defualt">
  <div class="panel-heading">
  </div>

  <%= link_to image_tag("signin.png"), user_omniauth_authorize_path(:facebook), class: "center-media center" %>

  <h2 class="center"> Christopher Bot is patiently waiting... </h2>
  
</div>